In [39]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [40]:
def prepare_data(df,forecast_col,forecast_out,test_size):
    label = df[forecast_col].shift(-forecast_out) #creating new column called label with the last 5 rows are nan
    X = np.array(df[[forecast_col]]) #creating the feature array
    
    X = preprocessing.scale(X) #processing the feature array
   
    X_lately = X[-forecast_out:] #creating the column i want to use later     in the predicting method
   
    X = X[:-forecast_out] # X that will contain the training and testing
 
    label.dropna(inplace=True) #dropping na values
    y = np.array(label)  # assigning Y
    print(label)
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=0) #cross validation

    response = [X_train,X_test , Y_train, Y_test , X_lately]
    return response

In [41]:

df = pd.read_csv("NFLX.csv")

In [42]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1009 non-null   object
 1   Open       1009 non-null   float64
 2   High       1009 non-null   float64
 3   Low        1009 non-null   float64
 4   Close      1009 non-null   float64
 5   Adj Close  1009 non-null   float64
 6   Volume     1009 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 55.3+ KB

In [44]:
df.shape

(1009, 7)

In [38]:
forecast_col = 'Close'
forecast_out = 5
test_size = 0.2

In [23]:
X_train, X_test, Y_train, Y_test , X_lately =prepare_data(df,forecast_col,forecast_out,test_size); #calling the method were the cross validation and data preperation is in
learner = LinearRegression() #initializing linear regression model

0       257.950012
1       258.269989
2       266.000000
3       280.269989
4       278.519989
           ...
999     427.140015
1000    457.130005
1001    429.480011
1002    405.600006
1003    410.170013
Name: Close, Length: 1004, dtype: float64

In [31]:
learner.fit(X_train,Y_train)


score=learner.score(X_test,Y_test)#testing the linear regression model
forecast= learner.predict(X_lately) #set that will contain the forecasted data
response={}#creting json object
response['test_score']=score
response['forecast_set']=forecast

print(response)

{'test_score': 0.9499579487122554, 'forecast_set': array([427.49472039, 456.56242694, 429.7627544 , 406.61713222,
       411.0465976 ])}